script(type="text/ng-template" id="template/alert/alert.html")
  .uib-alert(ng-class="['alert-' + (type || 'warning'), closeable ? 'alert-dismissable' : null]" role="alert")
    button(ng-show="closeable" type="button" class="close" ng-click="close()")
      span(aria-hidden="true") &times;
    .div(ng-transclude)
