include edit-profiles

mixin nfbutton(fname, layer)
  label.col-sm-3.control-label {{ 'No failure' | t : lang}}
  .col-sm-5
    .btn-toolbar
      button.btn.btn-sm.btn-default(type="button"
          uib-tooltip="{{ '_pe_stb_nf' | t : lang }}" tooltip-placement="bottom"
        ng-click="status.showaddlayer=false;addlayer("+layer+", $index, true);" + fname + ".$setPristine();")
        | No failure

mixin ctprofheading(fname)
  .clickable(ng-click="isOpen[$index]=!isOpen[$index]")
    .layer-header
      .accordion-label(ng-if="!layer.value.nofailure") {{layer.top}} cm
      .details-to(ng-if="!layer.value.nofailure")
        | &nbsp;&nbsp;CT{{layer.value.value}}
        span.label.label-danger(
          ng-show="profile && "+fname+" !== undefined && "+fname+".$invalid") Error
        span.label.label-warning(
          ng-show="profile && "+fname+" !== undefined && !"+fname+".$pristine") Changed
        span.label.label-info(ng-show="layer.overlapping") Overlapping
      .details-to.no-border(ng-if="layer.value.nofailure")
        | No failure
    i.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': isOpen[$index], 'glyphicon-chevron-right': !isOpen[$index]}")

mixin ctprofile(fname, submitcode, layer, isnew)
  form.form-horizontal(role="form" name= fname ng-submit= submitcode)
    .form-group.form-group-sm.row(ng-if="!layer.value.nofailure")
      label.col-sm-3.control-label {{ '_pe_position' | t : lang }}
      .col-sm-5
        .input-group.input-group-sm
          input.form-control.top-value(type="number" ng-model=layer+".top" dnd-nodrag-mouseover
            required ng-change="compute("+layer+");" min="-10000" max="10000"
            placeholder="{{ '_pe_top' | t : lang }}" step="0.0000000001")
          span.input-group-addon cm
    .form-group.form-group-sm.row(ng-if="!"+layer+".value.nofailure")
      label.col-sm-3.control-label {{ 'Test Score' | t : lang}}
      .col-sm-5
        .input-group.input-group-sm
          input.form-control(type="number" ng-model=layer+".value.value" required dnd-nodrag-mouseover
            min="0" max="30" placeholder="" step="1")
          span.input-group-addon taps
    .form-group.form-group-sm.row(ng-if="!"+layer+".value.nofailure")
      label.col-sm-3.control-label {{ 'Fracture Character' | t : lang}}
      .col-sm-5
        ui-select(ng-model=layer+".value.character" theme="bootstrap" reset-search-input="true" title="")
          ui-select-match(placeholder="character" allow-clear="true") {{ $select.selected }}
          ui-select-choices(repeat="choice in niviz.Value.Rutschblock.characters | filter: $select.search track by $index")
            span(ng-bind="choice")
    .form-group.form-group-sm.row
      label.col-sm-3.control-label {{ '_pe_comment' | t : lang }}
      .col-sm-9
        input.form-control(type="text" ng-model=layer+".value.comment" dnd-nodrag-mouseover
          placeholder="{{ '_pe_comment' | t : lang }}")
    .form-group.form-group-sm.row(ng-if=""+isnew+"")
      +nfbutton(fname, layer)
    .row(ng-hide="true")
      button.btn.btn-primary(type="submit" ng-disabled=fname + ".$pristine || " + fname + ".$invalid")

script(type="text/ng-template" id="add-ct.html")
  .container(ng-form="densityaddforms[$index]")
    +ctprofile("$parent.editform", "addlayer(layer[$index], $index);", "layer[$index]",  true)
    +mixin-new-layer-btn-bar("addlayer(layer[$index], $index);", "$index")

script(type="text/ng-template" id="edit-ctprofile.html")
  //- Compression test - non stratigraphic measurement
  .container.profile-header
    +mixin-addprofile("ct", "'_pe_ctprofiles'", "'_pe_btn_add_test'")
  div(dnd-list="ct" dnd-inserted="moved(index)")
    .ct-panel(ng-repeat="p in ct" ng-form="ctform[$index]" ng-init="extrai = $index"
      dnd-draggable="p"  dnd-effect-allowed="move" dnd-moved="move(ct, $index)")
      +mixin-profile-header-bar("'_pe_ctprofile'")
      div(uib-collapse="status.iscollapsed[$index]")
        .scrollable-container
          +mixin-profile-header-btn-bar
          add-ct(ng-if="status.showaddlayer || !collapsible")
          uib-accordion(close-others="false")
            .panel-default(uib-accordion-group ng-repeat="layer in p | orderBy: '-topcopy'" is-open="isOpen[$index]")
              uib-accordion-heading(style="width: 100%;" ng-form="editform[$index]")
                +ctprofheading("editform[$index]")
              .accordion-body(ng-if="isOpen")
                +ctprofile("editform[$index]", "save(layer, $parent.$parent.$parent.$parent.$index); editform[$index].$setPristine();", "layer", false)
                +mixin-layer-btn-bar("editform[$index]", "$parent.$parent.$parent.$parent.$index")
              br


mixin ectprofheading(fname)
  .clickable(ng-click="isOpen[$index]=!isOpen[$index]")
    .layer-header
      .accordion-label(ng-if="!layer.value.nofailure") {{layer.top}} cm
      .details-to(ng-if="!layer.value.nofailure")
        | &nbsp;&nbsp;ECT{{layer.value.character}}{{layer.value.value}}
        span.label.label-danger(
          ng-show="profile && "+fname+" !== undefined && "+fname+".$invalid") Error
        span.label.label-warning(
          ng-show="profile && "+fname+" !== undefined && !"+fname+".$pristine") Changed
        span.label.label-info(ng-show="layer.overlapping") Overlapping
      .details-to.no-border(ng-if="layer.value.nofailure")
        | No failure
    i.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': isOpen[$index], 'glyphicon-chevron-right': !isOpen[$index]}")

mixin ectprofile(fname, submitcode, layer, isnew)
  form.form-horizontal(role="form" name= fname ng-submit= submitcode)
    .form-group.form-group-sm.row(ng-if="!layer.value.nofailure")
      label.col-sm-3.control-label {{ '_pe_position' | t : lang }}
      .col-sm-5
        .input-group.input-group-sm
          input.form-control.top-value(type="number" ng-model=layer+".top" dnd-nodrag-mouseover
            required ng-change="compute("+layer+");" min="-10000" max="10000"
            placeholder="{{ '_pe_top' | t : lang }}" step="0.0000000001")
          span.input-group-addon cm
    .form-group.form-group-sm.row(ng-if="!"+layer+".value.nofailure && niviz.Common.defaults.ECT_format === 'International'")
      label.col-sm-3.control-label {{ 'ECT' | t : lang}}
      .col-sm-9
        .row
          .btn-group.btn-group-sm.col-xs-5(style="padding-right:0;")
            label.btn.btn-sm(ng-model="character" uncheckable="true"
              uib-tooltip="{{ '_pe_ect_btn_pv' | t : lang }}" tooltip-placement="bottom"
              ng-click="setECTCharacter("+layer+", 'PV'); " + fname + ".$setDirty()"
              ng-class="{'btn-primary': "+layer+".value.character === 'PV', 'btn-default': "+layer+".value.character !== 'PV'}") PV
            label.btn.btn-sm(ng-model="character" uncheckable="true"
              uib-tooltip="{{ '_pe_ect_btn_p' | t : lang }}" tooltip-placement="bottom"
              ng-click="setECTCharacter("+layer+", 'P'); " + fname + ".$setDirty()"
              ng-class="{'btn-primary': "+layer+".value.character === 'P', 'btn-default': layer.value.character !== 'P'}") P
            label.btn.btn-sm(ng-model="character" uncheckable="true"
              uib-tooltip="{{ '_pe_ect_btn_n' | t : lang }}" tooltip-placement="bottom"
              ng-click="setECTCharacter("+layer+", 'N'); " + fname + ".$setDirty()"
              ng-class="{'btn-primary': "+layer+".value.character === 'N', 'btn-default': "+layer+".value.character !== 'N'}") N
          .col-xs-4.input-group.input-group-sm(style="padding: 0;")
            input.pull-left.form-control(type="number" ng-disabled="layer.value.character === 'PV'"
              ng-model=layer+".value.value" ng-required=layer+".value.character !== 'PV'"
              min="1" max="30" placeholder="1-30" step="1")
            span.input-group-addon taps
    .form-group.form-group-sm.row(ng-if="!"+layer+".value.nofailure && niviz.Common.defaults.ECT_format === 'Swiss'")
      label.col-sm-3.control-label {{ 'Swisscode' | t : lang}}
      .col-sm-5
        input.pull-left.form-control(type="text" required ng-pattern="swissregexp"
          ng-model=layer+".value.swiss" placeholder="Swiss ECT code")
      .col-sm-4
        span.label.label-danger(ng-show=fname+" !== undefined && "+fname+".$error.pattern")
          | Format: e.g. 10/np
    .form-group.form-group-sm.row
      label.col-sm-3.control-label {{ '_pe_comment' | t : lang }}
      .col-sm-9
        input.form-control(type="text" ng-model=layer+".value.comment" dnd-nodrag-mouseover
          placeholder="{{ '_pe_comment' | t : lang }}")
    .form-group.form-group-sm.row(ng-if=""+isnew+"")
      +nfbutton(fname, layer)
    .row(ng-hide="true")
      button.btn.btn-primary(type="submit" ng-disabled=fname + ".$pristine || " + fname + ".$invalid")

script(type="text/ng-template" id="add-ect.html")
  .container(ng-form="ectaddforms[$index]")
    +ectprofile("$parent.editform", "addlayer(layer[$index], $index);", "layer[$index]", true)
    +mixin-new-layer-btn-bar("addlayer(layer[$index], $index);", "$index")

script(type="text/ng-template" id="edit-ectprofile.html")
  //- Compression test - non stratigraphic measurement
  .container.profile-header
    +mixin-addprofile("ect", "'_pe_ectprofiles'", "'_pe_btn_add_test'")
  div(dnd-list="ect" dnd-inserted="moved(index)")
    .ect-panel(ng-repeat="p in ect" ng-form="ectform[$index]" ng-init="extrai = $index"
      dnd-draggable="p"  dnd-effect-allowed="move" dnd-moved="move(ect, $index)")
      +mixin-profile-header-bar("'_pe_ectprofile'")
      div(uib-collapse="status.iscollapsed[$index]")
        .scrollable-container
          +mixin-profile-header-btn-bar
          add-ect(ng-if="status.showaddlayer || !collapsible")
          uib-accordion(close-others="false")
            .panel-default(uib-accordion-group ng-repeat="layer in p | orderBy: '-topcopy'" is-open="isOpen[$index]")
              uib-accordion-heading(style="width: 100%;" ng-form="editform[$index]")
                +ectprofheading("editform[$index]")
              .accordion-body(ng-if="isOpen")
                +ectprofile("editform[$index]", "save(layer, $parent.$parent.$parent.$parent.$index); editform[$index].$setPristine();", "layer", false)
                +mixin-layer-btn-bar("editform[$index]", "$parent.$parent.$parent.$parent.$index")
              br

mixin rbprofheading(fname)
  .clickable(ng-click="isOpen[$index]=!isOpen[$index]")
    .layer-header
      .accordion-label(ng-if="!layer.value.nofailure") {{layer.top}} cm
      .details-to(ng-if="!layer.value.nofailure")
        | &nbsp;&nbsp;RB{{layer.value.value}} {{layer.value.releasetype}} {{layer.value.character}}
        span.label.label-danger(
          ng-show="profile && "+fname+" !== undefined && "+fname+".$invalid") Error
        span.label.label-warning(
          ng-show="profile && "+fname+" !== undefined && !"+fname+".$pristine") Changed
        span.label.label-info(ng-show="layer.overlapping") Overlapping
      .details-to.no-border(ng-if="layer.value.nofailure")
        | No failure
    i.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': isOpen[$index], 'glyphicon-chevron-right': !isOpen[$index]}")

mixin rbprofile(fname, submitcode, layer, isnew)
  form.form-horizontal(role="form" name= fname ng-submit= submitcode)
    .form-group.form-group-sm.row(ng-if="!layer.value.nofailure")
      label.col-sm-3.control-label {{ '_pe_position' | t : lang}}
      .col-sm-5
        .input-group.input-group-sm
          input.form-control.top-value(type="number" ng-model=layer+".top" dnd-nodrag-mouseover
            required ng-change="compute("+layer+");" min="-10000" max="10000"
            placeholder="{{ '_pe_top' | t : lang }}" step="0.0000000001")
          span.input-group-addon cm
    .form-group.form-group-sm.row(ng-if="!"+layer+".value.nofailure")
      label.col-sm-3.control-label {{ 'Test Score' | t : lang}}
      .col-sm-5
        .input-group.input-group-sm
          span.input-group-addon RB
          input.form-control(type="number" ng-model=layer+".value.value" required dnd-nodrag-mouseover
            min="1" max="6" placeholder="1-6" step="1")
    .form-group.form-group-sm.row(ng-if="!"+layer+".value.nofailure")
      label.col-sm-3.control-label {{ 'Release Type' | t : lang}}
      .col-sm-5
        ui-select(ng-model=layer+".value.releasetype" theme="bootstrap" reset-search-input="true" title="")
          ui-select-match(placeholder="releaseType" allow-clear="true") {{ $select.selected }}
          ui-select-choices(repeat="choice in ['WB', 'MB', 'EB'] | filter: $select.search track by $index")
            span(ng-bind="choice")
    .form-group.form-group-sm.row(ng-if="!"+layer+".value.nofailure")
      label.col-sm-3.control-label {{ 'Fracture Character' | t : lang}}
      .col-sm-5
        ui-select(ng-model=layer+".value.character" theme="bootstrap" reset-search-input="true" title="")
          ui-select-match(placeholder="character" allow-clear="true") {{ $select.selected }}
          ui-select-choices(repeat="choice in niviz.Value.Rutschblock.characters | filter: $select.search track by $index")
            span(ng-bind="choice")
    .form-group.form-group-sm.row
      label.col-sm-3.control-label {{ '_pe_comment' | t : lang }}
      .col-sm-9
        input.form-control(type="text" ng-model=layer+".value.comment" dnd-nodrag-mouseover
          placeholder="{{ '_pe_comment' | t : lang }}")
    .form-group.form-group-sm.row(ng-if=""+isnew+"")
      +nfbutton(fname, layer)
    .row(ng-hide="true")
      button.btn.btn-primary(type="submit" ng-disabled=fname + ".$pristine || " + fname + ".$invalid")

script(type="text/ng-template" id="add-rb.html")
  .container(ng-form="densityaddforms[$index]")
    +rbprofile("$parent.editform", "addlayer(layer[$index], $index);", "layer[$index]",  true)
    +mixin-new-layer-btn-bar("addlayer(layer[$index], $index);", "$index")

script(type="text/ng-template" id="edit-rbprofile.html")
  //- Rutschblock test - non stratigraphic measurement
  .container.profile-header
    +mixin-addprofile("rb", "'_pe_rbprofiles'", "'_pe_btn_add_test'")
  div(dnd-list="rb" dnd-inserted="moved(index)")
    .rb-panel(ng-repeat="p in rb" ng-form="rbform[$index]" ng-init="extrai = $index"
      dnd-draggable="p"  dnd-effect-allowed="move" dnd-moved="move(rb, $index)")
      +mixin-profile-header-bar("'_pe_rbprofile'")
      div(uib-collapse="status.iscollapsed[$index]")
        .scrollable-container
          +mixin-profile-header-btn-bar
          add-rb(ng-if="status.showaddlayer || !collapsible")
          uib-accordion(close-others="false")
            .panel-default(uib-accordion-group ng-repeat="layer in p | orderBy: '-topcopy'" is-open="isOpen[$index]")
              uib-accordion-heading(style="width: 100%;" ng-form="editform[$index]")
                +rbprofheading("editform[$index]")
              .accordion-body(ng-if="isOpen")
                +rbprofile("editform[$index]", "save(layer, $parent.$parent.$parent.$parent.$index); editform[$index].$setPristine();", "layer", false)
                +mixin-layer-btn-bar("editform[$index]", "$parent.$parent.$parent.$parent.$index")
              br


mixin sawprofheading(fname)
  .clickable(ng-click="isOpen[$index]=!isOpen[$index]")
    .layer-header
      .accordion-label(ng-if="!layer.value.nofailure") {{layer.top}} cm
      .details-to(ng-if="!layer.value.nofailure")
        | &nbsp;&nbsp;{{layer.value.value}} {{layer.value.cutlength}}
        | &nbsp;&times; {{layer.value.columnlength}}
        span.label.label-danger(
          ng-show="profile && "+fname+" !== undefined && "+fname+".$invalid") Error
        span.label.label-warning(
          ng-show="profile && "+fname+" !== undefined && !"+fname+".$pristine") Changed
        span.label.label-info(ng-show="layer.overlapping") Overlapping
      .details-to.no-border(ng-if="layer.value.nofailure")
        | No failure
    i.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': isOpen[$index], 'glyphicon-chevron-right': !isOpen[$index]}")

mixin sawprofile(fname, submitcode, layer, isnew)
  form.form-horizontal(role="form" name= fname ng-submit= submitcode)
    .form-group.form-group-sm.row(ng-if="!layer.value.nofailure")
      label.col-sm-3.control-label {{ '_pe_position' | t : lang }}
      .col-sm-5
        .input-group.input-group-sm
          input.form-control.top-value(type="number" ng-model=layer+".top"
            required ng-change="compute("+layer+");" dnd-nodrag-mouseover
            min="-10000" max="10000" placeholder="{{ '_pe_top' | t : lang }}" step="0.0000000001")
          span.input-group-addon cm
    .form-group.form-group-sm.row(ng-if="!"+layer+".value.nofailure")
      label.col-sm-3.control-label {{ 'Propagation' | t : lang }}
      .col-sm-5
        ui-select(ng-model=layer+".value.value" theme="bootstrap" reset-search-input="true" required)
          ui-select-match(placeholder="fracturePropagation" allow-clear="false") {{ $select.selected }}
          ui-select-choices(repeat="choice in ['End', 'SF', 'Arr'] | filter: $select.search track by $index")
            span(ng-bind="choice")
    .form-group.form-group-sm.row(ng-if="!"+layer+".value.nofailure")
      label.col-sm-3.control-label {{ 'Cut length' | t : lang }}
      .col-sm-5
        .input-group.input-group-sm
          input.form-control(type="number" ng-model=layer+".value.cutlength" required dnd-nodrag-mouseover
            min="0" max="10000" placeholder="cutLength" step="0.000001")
          span.input-group-addon cm
    .form-group.form-group-sm.row(ng-if="!"+layer+".value.nofailure")
      label.col-sm-3.control-label {{ 'Column length' | t : lang }}
      .col-sm-5
        .input-group.input-group-sm
          input.form-control(type="number" ng-model=layer+".value.columnlength" required
            bigger-than=layer+".value.cutlength" dnd-nodrag-mouseover
            min="0" max="10000" placeholder="columnLength" step="0.000001")
          span.input-group-addon cm
    .form-group.form-group-sm.row
      label.col-sm-3.control-label {{ '_pe_comment' | t : lang }}
      .col-sm-9
        input.form-control(type="text" ng-model=layer+".value.comment" dnd-nodrag-mouseover
          placeholder="{{ '_pe_comment' | t : lang }}")
    .row(ng-hide="true")
      button.btn.btn-primary(type="submit" ng-disabled=fname + ".$pristine || " + fname + ".$invalid")

script(type="text/ng-template" id="add-saw.html")
  .container(ng-form="densityaddforms[$index]")
    +sawprofile("$parent.editform", "addlayer(layer[$index], $index);", "layer[$index]",  true)
    +mixin-new-layer-btn-bar("addlayer(layer[$index], $index);", "$index")

script(type="text/ng-template" id="edit-sawprofile.html")
  //- Rutschblock test - non stratigraphic measurement
  .container.profile-header
    +mixin-addprofile("saw", "'_pe_sawprofiles'", "'_pe_btn_add_test'")
  div(dnd-list="saw" dnd-inserted="moved(index)")
    .saw-panel(ng-repeat="p in saw" ng-form="sawform[$index]" ng-init="extrai = $index"
      dnd-draggable="p"  dnd-effect-allowed="move" dnd-moved="move(saw, $index)")
      +mixin-profile-header-bar("'_pe_sawprofile'")
      div(uib-collapse="status.iscollapsed[$index]")
        .scrollable-container
          +mixin-profile-header-btn-bar
          add-saw(ng-if="status.showaddlayer || !collapsible")
          uib-accordion(close-others="false")
            .panel-default(uib-accordion-group ng-repeat="layer in p | orderBy: '-topcopy'" is-open="isOpen[$index]")
              uib-accordion-heading(style="width: 100%;" ng-form="editform[$index]")
                +sawprofheading("editform[$index]")
              .accordion-body(ng-if="isOpen")
                +sawprofile("editform[$index]", "save(layer, $parent.$parent.$parent.$parent.$index); editform[$index].$setPristine();", "layer", false)
                +mixin-layer-btn-bar("editform[$index]", "$parent.$parent.$parent.$parent.$index")
              br

mixin sfprofheading(fname)
  .clickable(ng-click="isOpen[$index]=!isOpen[$index]")
    .layer-header
      .accordion-label(ng-if="!layer.value.nofailure") {{layer.top}} cm
      .details-to(ng-if="!layer.value.nofailure")
        | &nbsp;{{layer.value.value}} N
        span.label.label-danger(
          ng-show="profile && "+fname+" !== undefined && "+fname+".$invalid") Error
        span.label.label-warning(
          ng-show="profile && "+fname+" !== undefined && !"+fname+".$pristine") Changed
        span.label.label-info(ng-show="layer.overlapping") Overlapping
      .details-to.no-border(ng-if="layer.value.nofailure")
        | No failure
    i.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': isOpen[$index], 'glyphicon-chevron-right': !isOpen[$index]}")

mixin sfprofile(fname, submitcode, layer, isnew)
  form.form-horizontal(role="form" name= fname ng-submit= submitcode)
    .form-group.form-group-sm.row(ng-if="!layer.value.nofailure")
      label.col-sm-3.control-label {{ '_pe_position' | t : lang }}
      .col-sm-5
        .input-group.input-group-sm
          input.form-control.top-value(type="number" ng-model=layer+".top" dnd-nodrag-mouseover
            required ng-change="compute("+layer+");" min="-10000" max="10000"
            placeholder="{{ '_pe_top' | t : lang }}" step="0.0000000001")
          span.input-group-addon cm
    .form-group.form-group-sm.row(ng-if="!"+layer+".value.nofailure")
      label.col-sm-3.control-label {{ 'Failure force' | t : lang }}
      .col-sm-5
        .input-group.input-group-sm
          input.form-control(type="number" ng-model=layer+".value.value" required dnd-nodrag-mouseover
            min="0" max="10000" placeholder="failureForce" step="0.000001")
          span.input-group-addon N
    .form-group.form-group-sm.row(ng-if="!"+layer+".value.nofailure")
      label.col-sm-3.control-label {{ 'Fracture Character' | t : lang }}
      .col-sm-5
        ui-select(ng-model=layer+".value.character" theme="bootstrap" reset-search-input="true" title="")
          ui-select-match(placeholder="character" allow-clear="true") {{ $select.selected }}
          ui-select-choices(repeat="choice in niviz.Value.Rutschblock.characters | filter: $select.search track by $index")
            span(ng-bind="choice")
    .form-group.form-group-sm.row
      label.col-sm-3.control-label {{ '_pe_comment' | t : lang }}
      .col-sm-9
        input.form-control(type="text" ng-model=layer+".value.comment" dnd-nodrag-mouseover
          placeholder="{{ '_pe_comment' | t : lang }}")
    .form-group.form-group-sm.row(ng-if=""+isnew+"")
      +nfbutton(fname, layer)
    .row(ng-hide="true")
      button.btn.btn-primary(type="submit" ng-disabled=fname + ".$pristine || " + fname + ".$invalid")

script(type="text/ng-template" id="add-sf.html")
  .container(ng-form="densityaddforms[$index]")
    +sfprofile("$parent.editform", "addlayer(layer[$index], $index);", "layer[$index]",  true)
    +mixin-new-layer-btn-bar("addlayer(layer[$index], $index);", "$index")

script(type="text/ng-template" id="edit-sfprofile.html")
  //- Shear frame test - non stratigraphic measurement
  .container.profile-header
    +mixin-addprofile("sf", "'_pe_sfprofiles'", "'_pe_btn_add_test'")
  div(dnd-list="sf" dnd-inserted="moved(index)")
    .sf-panel(ng-repeat="p in sf" ng-form="sfform[$index]" ng-init="extrai = $index"
      dnd-draggable="p"  dnd-effect-allowed="move" dnd-moved="move(sf, $index)")
      +mixin-profile-header-bar("'_pe_sfprofile'")
      div(uib-collapse="status.iscollapsed[$index]")
        .scrollable-container
          +mixin-profile-header-btn-bar
          add-sf(ng-if="status.showaddlayer || !collapsible")
          uib-accordion(close-others="false")
            .panel-default(uib-accordion-group ng-repeat="layer in p | orderBy: '-topcopy'" is-open="isOpen[$index]")
              uib-accordion-heading(style="width: 100%;" ng-form="editform[$index]")
                +sfprofheading("editform[$index]")
              .accordion-body(ng-if="isOpen")
                +sfprofile("editform[$index]", "save(layer, $parent.$parent.$parent.$parent.$index); editform[$index].$setPristine();", "layer", false)
                +mixin-layer-btn-bar("editform[$index]", "$parent.$parent.$parent.$parent.$index")
              br

script(type="text/ng-template" id="edit-stbprofiles.html")
  edit-ctprofile.multiprofile(collapsible="collapsible" profile="profile" station="station"
    callback="callback" varname="'ct'")
  edit-ectprofile.multiprofile(collapsible="collapsible" profile="profile" station="station"
    callback="callback" varname="'ect'")
  edit-rbprofile.multiprofile(collapsible="collapsible" profile="profile" station="station"
    callback="callback" varname="'rb'")
  edit-sawprofile.multiprofile(collapsible="collapsible" profile="profile" station="station"
    callback="callback" varname="'saw'")
  edit-sfprofile.multiprofile(collapsible="collapsible" profile="profile" station="station"
    callback="callback" varname="'sf'")
