script(type="text/ng-template" id="help.html")
  .container.help
    div(ui-view)

    div.modal(id="imagemodal" ng-click="closepopup();")
      span.close &times;
      img.modal-content(id="img01")
      div(id="caption")

script(type="text/ng-template" id="contents.html")
  h1 Help Topics
  h3
    a(ui-sref='help.user') User manual
  h3
    a(ui-sref='help.programmer') Programmer's guide
  h3
    a(href="https://niviz.org/niviz/doc/index.html" target="_system") API Documentation for the niViz library
  br
  br
  h5 niViz {{ niviz.version }}
  h5 Compiled {{ niviz.compiled }}
  a(href="https://models.slf.ch/p/niviz/source/changes/master/" target="_blank") View change log

script(type="text/ng-template" id="help-user.html")
  h2 User Manual
  h5
    a(ui-sref="help.contents") Return to table of contents
    br
    |
    br
  h4
    a(href="#VisualizingProfileView") Profile View
    br
    a(href="#VisualizingTimeline") Timeline
    br
    a(href="#VisualizingTimeseries") Time series
    br
    a(href="#Synchronization") Synchronization of Timelines and Timeseries
    br
    a(href="#Settings") Settings
    br
    a(href="#NewProfile") Creating a new profile
    br
    a(href="#Issues") Reporting issues

  h3 Home Screen
  h5 Arriving on <a target="_blank" href="https://niviz.org">niViz.org</a> shows the home screen, containing a short description of niViz. Further are links to example data sets present and information relevant to niViz, such as its licence or the standards it is based on.

  h5 The online version of niViz is started with the first button ("Run niViz!") in the navigation bar. The second link leads to the software forge and the third to the issue submit page.

  h3#VisualizingProfileView
    | Profile View
    a(href='#top', style='font-size: 12px; font-style: oblique; color: blue;') To the top
  h5 After clicking on "Open" in the navigation menu and selecting your <a href="http://caaml.org/Schemas/SnowProfileIACS/v6.0.3" target="_blank">CAAML</a> profile, you will be presented with a view of your profile that shows its metadata, the profile structure as well as some layers' properties.
  h5 If you have already edited your profile, you can add it with the "Open form local storage" function.

  a( ng-click="imgpop('/img/openfromlocal.PNG', 'Menu to open files from local directory');")
    img.hoverable(src="/img/openfromlocal.PNG" style="max-width: 100%; max-height: 200px;")

  h5 On the top right corner, you can click on the "burger" menu in order to get other profile visualizations and other options like the profile editor, print the profile or export it in various formats.

  a( ng-click="imgpop('/img/01_Burger_menu.gif', 'Burger Menu and its options');")
    img.hoverable(src="/img/01_Burger_menu.gif" style="max-width: 100%; max-height: 550px;")

  h5 Another way to profile editor is double click on the table values.

  a( ng-click="imgpop('/img/03_Profile_editing.gif', 'Profile editing');")
    img.hoverable(src="/img/03_Profile_editing.gif" style=style="max-width: 100%; max-height: 550px;")

  h5 Changing between the different profiles is done at the top.

  a( ng-click="imgpop('/img/Profile_Editor.gif', 'Profile editing, switch data sets');")
    img.hoverable(src="/img/Profile_Editor.gif" style=style="max-width: 100%; max-height: 550px;")

  h5 In the profile view, it is possible to zoom vertical into the profile (applies to the "simple profile" and "bare simple profile"). To reset the view use the button on the top right of the graph.

  a( ng-click="imgpop('/img/02_Visualize_zoom.gif', 'Profile zoom');")
    img.hoverable(src="/img/02_Visualize_zoom.gif" style=style="max-width: 100%; max-height: 550px;")

  h5 Hovering over the graph will show more information and on the SLF profile the notes on stability test appear/disappear with a click.

  a( ng-click="imgpop('/img/05_Comments.gif', 'Hovering over informations');")
    img.hoverable(src="/img/05_Comments.gif" style=style="max-width: 100%; max-height: 550px;")

  h5 Clicking on the x-axis name will loop through the various parameters that can be shown.

  a( ng-click="imgpop('/img/04_Legend.gif', 'Legend loop');")
    img.hoverable(src="/img/04_Legend.gif" style=style="max-width: 100%; max-height: 550px;")

  h3#VisualizingTimeline
    | Timeline View
    a(href='#top', style='font-size: 12px; font-style: oblique; color: blue;') To the top
  h5 By hovering over the Timeline View the Profile View of the corresponding time is displayed. By clicking the profile view is fixed to the a certain time indicated with a black vertical line. With second click the view is unfrozen.

  h5 The black line can be moved with the right and left arrow keys for precise maneuvering.

  a( ng-click="imgpop('/img/TimeLine_profileView.gif', 'Selecting profile view in timeline');")
    img.hoverable(src="/img/TimeLine_profileView.gif" style=style="max-width: 100%; max-height: 550px;")

  h5 Horizontal zoom is done by holding down the left mouse button and select the time period.

  a( ng-click="imgpop('/img/TimeLine_zoom.gif', 'Timeline zoom');")
    img.hoverable(src="/img/TimeLine_zoom.gif" style=style="max-width: 100%; max-height: 550px;")

  h5 Hovering over the different grain size symbols shows an explanation.

  a( ng-click="imgpop('/img/TimeLine_Legend.gif', 'Further symbol explanation');")
    img.hoverable(src="/img/TimeLine_Legend.gif" style=style="max-width: 100%; max-height: 550px;")

  h5 Changing the visualized data is done via the burger menu.

  a( ng-click="imgpop('/img/TimeLine_data.gif', 'Selecting data to show in burger menu');")
    img.hoverable(src="/img/TimeLine_data.gif" style=style="max-width: 100%; max-height: 550px;")

  h3#VisualizingTimeseries
    | Time series
    a(href='#top', style='font-size: 12px; font-style: oblique; color: blue;') To the top
  h5 Zoom the desired area by holding the left mouse button

  a( ng-click="imgpop('/img/TimeSeries_zoom.gif', 'Time series zoom');")
    img.hoverable(src="/img/TimeSeries_zoom.gif" style=style="max-width: 100%; max-height: 550px;")

  h5 Visualized data is selected in the drop down to the top right.

  a( ng-click="imgpop('/img/06_Type.gif', 'Selecting data');")
    img.hoverable(src="/img/06_Type.gif" style=style="max-width: 100%; max-height: 550px;")

  h3#Synchronization
    | Synchronization of Timelines and Timeseries
    a(href='#top', style='font-size: 12px; font-style: oblique; color: blue;') To the top
  h5 Different timelines or timeseries of independent lengths can be synchronized to show the same time segment.

  a( ng-click="imgpop('/img/syncTimelines.gif', 'Synchronizing two graphs');")
    img.hoverable(src="/img/syncTimelines.gif" style=style="max-width: 100%; max-height: 550px;")

  h3#Settings
    | Settings
    a(href='#top', style='font-size: 12px; font-style: oblique; color: blue;') To the top
  h5 In the settings the visualizations can be adjusted to everyone's needs and additional parameters overlayed onto the views. These settings can be exportet/importet as JSON files at the bottom left of the settings window.

  h5 The basic settings are found under the "General" tab. To show/hide the tooltips (small explanations for the dropdown items in the profile editor), niViz needs to be restartet after saving the settings change.

  a( ng-click="imgpop('/img/General.PNG', 'General settings');")
    img.hoverable(src="/img/General.PNG" style="max-width: 100%; max-height: 550px;")

  h5 Adding parameters to the profile view is done with the plus at the bottom of the Profile Tab (together wit its minimum and maximum values to be represented, its color and drawing type).

  a( ng-click="imgpop('/img/Simple_Profile.PNG', 'Adding a parameters to profile view');")
    img.hoverable(src="/img/Simple_Profile.PNG" style="max-width: 100%; max-height: 550px;")

  h5 One can also choose which properties should be visible in the table shown on the right side of the profile with the lines "Stability parameters" and "Other parameters". By clicking into the empty field, a dropdown menu appears with the available options.

  a( ng-click="imgpop('/img/AddingParameters.gif', 'Configuring the tabular view of the profile');")
    img.hoverable(src="/img/AddingParameters.gif" style="max-width: 100%; max-height: 550px;")

  h5 The "Meteo" tab regulates which parameters are shown in the Timeseries. Additonal parameters can be added with the plus at the bottom of the page.

  h5 niViz shows a maximum of two axis labels for timeseries, therefore one can group parameters with the same unit together, as shown in the example with the air and snow surface temperature.

  a( ng-click="imgpop('/img/MeteoTimeseries.PNG', 'Configuring the shown timeseries parameters');")
    img.hoverable(src="/img/MeteoTimeseries.PNG" style="max-width: 100%; max-height: 550px;")

  h5 To add parameters to a Timeline they first need to be added to the parser in the "PRO Parser" tab. After this the parameters are available in the dropdown menue in the "Timeline" tab and after saving in the burger menu in the top right. Before the data will show up niViz needs to be restarted to parse the data.

  a( ng-click="imgpop('/img/ProParser.PNG', 'Select paramaters to parser');")
    img.hoverable(src="/img/ProParser.PNG" style="max-width: 100%; max-height: 550px;")

  h5 Export tags für CAAML files can be defined here in the tab "CAAML"

  a( ng-click="imgpop('/img/CAAML.PNG', 'Export tags for CAAML files');")
    img.hoverable(src="/img/CAAML.PNG" style="max-width: 100%; max-height: 450px;")

  h3#NewProfile
    | Creating  a new profile
    a(href='#top', style='font-size: 12px; font-style: oblique; color: blue;') To the top
  h5 When selecting <b>"Create new profile"</b> in the general menu, a modal window appears that contains buttons for each possible category of data that could be stored in a profile. Although this should help guide the user into filling the data into his profile, it is possible to start anywhere and to only provide what the user has.

  a( ng-click="imgpop('/img/create_profile1.png', 'Profile creation guide');")
    img.hoverable(src="/img/create_profile1.png" style="max-width: 100%; max-height: 550px;")

  h3#Issues
    | Reporting issues
    a(href='#top', style='font-size: 12px; font-style: oblique; color: blue;') To the top
  h5 When something does not behave as planned, it is possible (and recommended!) to report it. Please include all information that could help the developers figure out what happened and how you were expecting niViz to behave! The issues are submitted through the software forge of the project, where you might have to create an account before you can submit an issue. Once you are logged in, you can view all the previously created issues as well as submit a new issue. Please make sure first that the issue you are about to report has not already been reported (it is always possible to comment on an existing issue if needed)!

  a( ng-click="imgpop('/img/create_issue1.png', 'Looking at issues');")
    img.hoverable(src="/img/create_issue1.png" style="max-width: 100%; max-height: 200px;")

  a( ng-click="imgpop('/img/create_issue2.png', 'Creating a new issue');")
    img.hoverable(src="/img/create_issue2.png" style="max-width: 100%; max-height: 200px;")

script(type="text/ng-template" id="help-programmer.html")
  h2 Programmer's Guide
  h5
    a(ui-sref="help.contents") Return to table of contents
    br
    |
    br
  h5 niViz consists of two separate components
    p
      ol
        li A visualization library based on&nbsp;
          a(href="http://snapsvg.io/") Snap.svg
          | , capable of visualizing snow profiles, time series of snow profiles and meteorological forcing data.
          br
          | &nbsp;
        li The UI you are currently viewing, which provides a comfortable user interface to visualize snow profiles, timeseries and forcing data by utilizing the niViz visualization library.
  br
  |
  br

  h3 Embedding a graph in your site

  h5
    br
    |
    p First make sure to use the newest niViz library in your page

    pre.prettyprint
      code &lt;script type="text/javascript" src="https://niviz.org/lib/niviz-bundle-latest.js"&gt;&lt;/script&gt;
    p &nbsp;
    |
    p In the following snippet we'll create a web page that contains an
      code &lt;svg id="canvas"&gt;
      | &nbsp;element and we'll add a bit of javascript code to download a CAAML profile from our repository.
      | Once the file has been read we'll hand it over to the niViz library, which will then parse the file
      | and visualize the profile in our
      code svg#canvas
      | . Note that we load the script called
      code nivis-bundle-latest.js
      |  which is comprised of the niviz core library, the snap.svg.js library and the momentjs library.
      | These two libraries are the only dependencies the niviz library has. You may of course load them separately
      | in which case you only need to load the
      code nivis-latest.js
      |  library.
    pre.prettyprint.linenums
      code.language-html
        | &lt;html&gt;
        | &lt;head&gt;
        |   &lt;meta http-equiv="Content-Type" content="text/html;charset=utf-8" /&gt;
        |   &lt;script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"&gt;&lt;/script&gt;
        |   &lt;script type="text/javascript" src="https://niviz.org/lib/niviz-bundle-latest.js"&gt;&lt;/script&gt;
        | &lt;/head&gt;
        | &nbsp;
        | &lt;script&gt;
        | function draw () {
        |  $.ajax({
        |    url: "https://niviz.org/resources/example.caaml",
        |    crossDomain: true,
        |    contentType: 'text/plain',
        |    success: function (response){
        |      niviz.parse(response, 'caaml', function (error, station) {
        |        if  (error) {
        |          alert('Error while parsing ');
        |        } else {
        |            niviz.draw('SimpleProfile', station, $('#canvas'), { miniature: true });
        |        }
        |      });
        |    }
        |  });
        |}
        | &lt;/script&gt;
        | &nbsp;
        | &lt;body onload="draw()"&gt;
        |   &lt;svg id="canvas" style="width: 500px; height: 400px;"&gt;&lt;/svg&gt;
        | &lt;/body&gt;
        | &lt;/html&gt;

  br
  |
  br

  h3 A complete example
  h5
    p
      | The following snippet will result in a timeline graph and a profile graph being displayed next to each other.
      | The graphs are interactive and interlinked. If you hover with your mouse cursor above the timeline the profile graph
      | will display the corresponding profile. Furthermore there are several external control buttons
      | to display different parameters of the timeline (snow temperature, grain size, grain shape, wetness, density).
      | A callback function traces the mouse cursor position on the timeline graph and displays the respective date.
    br

    iframe(width='1140', height='550', src="https://niviz.org/resources/example.html")
    br

    pre.prettyprint.linenums
      code.language-html
        | &lt;html&gt;
        | &lt;head&gt;
        |   &lt;meta http-equiv="Content-Type" content="text/html;charset=utf-8" /&gt;
        |   &lt;script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"&gt;&lt;/script&gt;
        |   &ltscript type="text/javascript" src="https://niviz.org/lib/niviz-bundle-latest.js"&gt;&lt;/script&gt;
        | &lt;/head&gt;
        |
        | &lt;script&gt;
        | var timelinegraph = null, profilegraph = null;
        |
        | function draw () {
        |   $.ajax({
        |      url: "https://niviz.org/resources/example.pro",
        |      crossDomain: true,
        |      contentType: 'text/plain',
        |      success: function (response){
        |        niviz.parse(response, 'pro', function (error, station) {
        |          if  (error) {
        |            alert('Error while parsing ');
        |          } else {
        |            niviz.Common.defaults.language = 'english'; // set language of graphs
        |
        |            timelinegraph = niviz.draw('Timeline', station, $('#timeline'), {});
        |            profilegraph = niviz.draw('SimpleProfile', station, $('#profile'), { miniature: true });
        |
        |            station.emitter.on('profile', update); //Listen to profile events, i. e. when the mouse moves
        |            // DON'T FORGET TO DEREGISTER THE CALLBACK: station.emitter.off('profile', update);
        |          }
        |        });
        |      }
        |    });
        | }
        | 
        | function update (profile) { // profile is a niViz profile object
        |   $('#currentdate')[0].innerText = profile.date.format('DD MMM YYYY HH:mm');
        | }
        | 
        | function setDate (date) {
        |   if (!timelinegraph) return;
        |   timelinegraph.setDate(date);
        | }
        | 
        | function parameter (p) {
        |   if (!timelinegraph) return;
        |   timelinegraph.setProperties({ parameter: p });
        |   timelinegraph.draw();
        | }
        | 
        | &lt;/script&gt;
        | 
        | &lt;body onload="draw()"&gt;
        |   &lt;svg id="timeline" style="width: 600px; height: 400px;"&gt;&lt;/svg&gt;
        |   &lt;svg id="profile" style="width: 400px; height: 400px;"&gt;&lt;/svg&gt;
        | 
        |   &lt;div id="currentdate"&gt;Hover over the timeline graph&lt;/div&gt;
        |   &lt;br&gt;&lt;br&gt;
        |   &lt;input id="datebtn" type="button" value="Goto Oct 24 03:00" onclick="setDate(moment.utc('2014-10-24T03:00:00'));" /&gt;
        |   &lt;br&gt;
        |   &lt;br&gt;
        |   &lt;input id="viewtemp" type="button" value="View grain shape" onclick="parameter('grainshape')" /&gt;
        |   &lt;input id="viewtemp" type="button" value="View grain size" onclick="parameter('grainsize')" /&gt;
        |   &lt;input id="viewtemp" type="button" value="View temperature" onclick="parameter('temperature')" /&gt;
        |   &lt;input id="viewtemp" type="button" value="View density" onclick="parameter('density')" /&gt;
        |   &lt;input id="viewtemp" type="button" value="View wetness" onclick="parameter('wetness')" /&gt;
        | &lt;/body&gt;
        | &lt;/html&gt;
    p
      | &nbsp;

  script(src="https://rawgit.com/google/code-prettify/master/loader/run_prettify.js?autoload=true&amp;skin=sunburst&amp;lang=css")
