script(type="text/ng-template" id="info.html")
  .info
    .panel.panel-default(ng-show="false")
      .panel-heading
        h3.panel-title File
      .panel-body
        dl.dl-horizontal

          dt Filename
          dd {{ data.filename }}
          dt Size
          dd {{ data.size | number }}
          dt Type
          dd {{ data.type }}
          dt Last modified
          dd {{ data.modified | date }}
