script(type="text/ng-template" id="modal-save-as.html")
  .modal-header
    h3.modal-title {{ 'Save As' | t : lang }}

  .modal-body

  form.form-horizontal(name="modalForm")
    .modal-body
      .form-group.form-group-sm
        label.control-label.col-sm-1(for="min") {{ 'File' | t : lang }}
        .col-sm-11
          input.form-control(id="filename" type="text" ng-model="filename" required autofocus)

  .modal-footer
    button.btn.btn-default(type="button" ng-click="cancel()") {{ 'Cancel' | t : lang }}
    button.btn.btn-warning(type="button" ng-click="save()" ng-disabled="modalForm.$invalid") {{ 'Save' | t : lang }}
