include edit-profiles
include edit-metadata
include edit-stratprofile
include edit-stbprofiles
include edit-hprofiles
include edit-lwcprofile
include edit-ssaprofile
include edit-densityprofile
include edit-tempprofile
include edit-impurityprofile

script(type="text/ng-template" id="profile-editor.html")
  .editor(id="editor" style="width: 100%; min-height: 90%; max-height: 90%; overscroll-y: scroll; height: 95%; margin: 5px; min-width: 540px;max-width: 540px;margin: 0;")

    uib-accordion.profile-selector(close-others="true")
      .panel-default(uib-accordion-group is-open="selectView.isOpen")
        uib-accordion-heading(style="width: 100%;")
          .clickable
            .profile-selector-title
              | Profile Editor -&nbsp;
              span.active-selector-title {{ $parent.$parent.view.name | t : lang}}

            i.glyphicon.glyphicon-remove.pull-right(ng-click="$parent.$parent.$parent.$parent.showeditor(false)")
            i.pull-right.glyphicon(ng-class="{'glyphicon-chevron-down': selectView.isOpen, 'glyphicon-chevron-right': !selectView.isOpen}")
        .accordion-body
          .panel.selector-option(ng-repeat="view in views track by $index"
            ng-click="setView($index); selectView.isOpen = false;"
            ng-class="{'active-selector-title': view.id === $parent.view.id}")
            span(ng-bind="view.name | t : lang")

    .profile-pane
      edit-metadata(ng-if="view.id === 1" profile="current"
        station="profile" callback="clone_all")
      edit-stratprofile.multiprofile(ng-if="view.id === 2" profile="current" station="profile"
        callback="repaint" collapsible="true")
      edit-tempprofile.multiprofile(ng-if="view.id === 3"
        collapsible="true" profile="current" station="profile"
        callback="repaint" varname="'temperature'")
      edit-densityprofile.multiprofile(ng-if="view.id === 4"
        collapsible="true" profile="current" station="profile"
        callback="repaint" varname="'density'")
      edit-stbprofiles(ng-if="view.id === 5" collapsible="true"
        profile="current" station="profile" callback="repaint")
      edit-hardnessprofiles(ng-if="view.id === 6" collapsible="true"
        profile="current" station="profile" callback="repaint")
      edit-lwcprofile.multiprofile(ng-if="view.id === 7"
        collapsible="true" profile="current" station="profile"
        callback="repaint" varname="'lwc'")
      edit-ssaprofile.multiprofile(ng-if="view.id === 8"
        collapsible="true" profile="current" station="profile"
        callback="repaint" varname="'ssa'")
      edit-impurityprofile.multiprofile(ng-if="view.id === 9"
        collapsible="true" profile="current" station="profile"
        callback="repaint" varname="'impurity'")

script(type="text/ng-template" id="edit-insert-layer.html")
  .modal-header
    h4.modal-title {{ '_pe_btn_insert_layer' | t : lang }}

  form.form-horizontal(name="modalILForm")
    .modal-body
      .form-group.form-group-sm.row
        label.col-sm-3.control-label {{ '_pe_position' | t : lang }}
        .col-sm-4
          .input-group.input-group-sm
            input.form-control(type="number" ng-model="data.top" required
              min="{{ layer.min }}" max="{{ layer.max }}"
              placeholder="{{ '_pe_top' | t : lang }}" step="0.0000000001")
            span.input-group-addon cm
        .col-sm-4(ng-if="!meta["+pindex+"].pointprofile")
          .input-group.input-group-sm
            input.form-control(type="number" ng-model="data.bottom"
              leq-than="data.top" required min="{{ layer.min }}" max="{{ layer.max }}"
              placeholder="{{ '_pe_bottom' | t : lang }}" step="0.0000000001")
            span.input-group-addon cm

    .modal-footer.settings
      button.btn.btn-sm.btn-default(type="button" ng-click="cancel()") {{ '_pe_btn_cancel' | t : lang }}
      button.btn.btn-sm.btn-primary(type="submit" ng-click="save()" ng-disabled="modalILForm.$invalid" )
        | {{ '_pe_btn_insert_layer' | t : lang }}
