script(type="text/ng-template" id="profiler.html")
  .header
    a.close(type="button", aria-hidden="true", ng-click="close()" ng-hide="$parent.overlap") &times;
    ul.nav.navbar-nav.pull-right
      li(uib-dropdown)
        a(href="#", uib-dropdown-toggle, data-toggle="dropdown", role="button", aria-expanded="false") &#9776;
        ul.dropdown-menu.dropdown-menu-right(role="menu" uib-dropdown-menu)
          li
            a(href ng-click="view('SLFProfile')" ng-hide="miniature") SLF profile
          li
            a(href ng-click="view('StructureProfile')") Structure profile
          li
            a(href ng-click="view('SimpleProfile')") Simple profile
          li
            a(href ng-click="view('SimpleProfile', {miniature: true})" ng-hide="miniature") Bare simple profile
          li
            a(href ng-click="view('MobileProfile')" ng-hide="miniature") Mobile profile
          //li
          // a(href ng-click="view('TabularProfile')") Tabular snow profile
          li.divider(ng-show="$parent.overlap")
          li(ng-show="$parent.overlap")
            a(href ng-click="$parent.maximize('profile');" ng-show="!$parent.pmax")
              | {{ 'Maximize' | t : lang }}
            a(href ng-click="$parent.overlap();" ng-show="$parent.pmax")
              | {{ 'overlap_timeline' | t : lang }}
          li.divider(ng-if="$parent.showeditor")
          li(ng-if="$parent.showeditor")
            a(href ng-click="$parent.$parent.showeditor(true);")
              | {{ '_editprofile' | t : lang }} ({{ '_pe_dock' | t : lang }})
          li(ng-if="$parent.showeditor")
            a(href ng-click="$parent.$parent.showmodal(true);")
              | {{ '_editprofile' | t : lang}} ({{ '_pe_modal' | t : lang }})
          li.divider
          li
            a(href ng-click="print()") {{ 'Print' | t : lang}}
          li.divider
          li
            a(href ng-click="save('SVG')") {{ 'export_svg' | t : lang }}
          li
            a(href ng-click="save('PNG')") {{ 'export_png' | t : lang }}
          li
            a(href ng-click="save('CAAML5')") {{ 'export_caaml5' | t : lang }}
          li
            a(href ng-click="save('CAAML')") {{ 'export_caaml6' | t : lang }}
          li
            a(href ng-click="save('JSON')") {{ 'export_json' | t : lang }}
    h1.title-heading Profile View - {{station.filename}}
  svg.body(id="canvas" style="width: 100%; height: 100%; margin: 5px;")
