nav.navbar.navbar-default.navbar-static-top(role="navigation" spinner="parsing")
  .container-fluid(ng-init="simplemode = true;")
    .navbar-header
      span.navbar-brand niViz

    .collapse.navbar-collapse(collapse="")
      ul.nav.nav-pills
        li(ng-class="{active: activeclass === 'grainshape' }")
          a(href="#" ng-click="activeclass = 'grainshape';") Grain shape
        li(ng-class="{active: activeclass === 'grainsize' }")
          a(href="#" ng-click="activeclass = 'grainsize';") Grain size
        li(ng-class="{active: activeclass === 'temperature' }")
          a(href="#" ng-click="activeclass = 'temperature';") Temperature
        li(ng-class="{active: activeclass === 'density' }")
          a(href="#" ng-click="activeclass = 'density';") Density
        li(ng-class="{active: activeclass === 'wetness' }")
          a(href="#" ng-click="activeclass = 'wetness';") Wetness
